# Data cleaning for e-commerce datasets refresh

In [49]:
import pandas as pd
import numpy as np

In [50]:
data = {
    'order_id': [1001, 1002, 1003, 1004, 1004, 1005, 1006, 1007],
    'customer_name': ['John Doe', 'Jane Smith', None, 'Alice Brown', 'Alice Brown', 'Bob Wilson', 'Emma Davis', np.nan],
    'product_name': ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Headphones', 'Mouse', 'Keyboard', 'Laptop'],
    'order_date': ['2023-10-01', '2023-10-02', '2023-10-03', 'invalid_date', '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-07'],
    'quantity': [1, 2, np.nan, 3, 3, 0, 2, 1],
    'price': ['$999.99', '$599.99', '$299.99', None, '$49.99', '$19.99', '$79.99', '$999.99'],
    'customer_email': ['john@example.com', 'jane.smith@example.com', 'alice@', 'alice.brown@example.com', 'alice.brown@example.com', None, 'emma.davis@example.com', 'john@example.com']
}

df = pd.DataFrame(data)

In [51]:
df.to_csv('e-commerce_data.csv', index=False)
print("Original Dataset:")
print(df)

Original Dataset:
   order_id customer_name product_name    order_date  quantity    price  \
0      1001      John Doe       Laptop    2023-10-01       1.0  $999.99
1      1002    Jane Smith        Phone    2023-10-02       2.0  $599.99
2      1003          None       Tablet    2023-10-03       NaN  $299.99
3      1004   Alice Brown   Headphones  invalid_date       3.0     None
4      1004   Alice Brown   Headphones    2023-10-04       3.0   $49.99
5      1005    Bob Wilson        Mouse    2023-10-05       0.0   $19.99
6      1006    Emma Davis     Keyboard    2023-10-06       2.0   $79.99
7      1007           NaN       Laptop    2023-10-07       1.0  $999.99

            customer_email
0         john@example.com
1   jane.smith@example.com
2                   alice@
3  alice.brown@example.com
4  alice.brown@example.com
5                     None
6   emma.davis@example.com
7         john@example.com

// Data Cleaning

Missing value: 
replace none and np.nan in 'customer_name' with 'Unknown'

In [52]:
df['customer_name'] = df['customer_name'].fillna('Unknown')

Missing Value: replace missing 'quantity with median quantity

In [53]:
df['quantity'] = df['quantity'].fillna(df['quantity'].median())

Replace missing 'price' with the median price (after converting to numeric)

In [54]:
df['price'] = df['price'].str.replace('$', '', regex=False)
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['price'] = df['price'].fillna(df['price'].median())

Missing value: replace customer email with 'no_email@example.com'

In [55]:
df['customer_email'] = df['customer_email'].fillna('no_email@example.com')

// Fix data type

Convert 'order_date' to datetime, invalid entries become NaT

In [56]:
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')

Replace NaT in 'order_date' with a default date (e.g., today's date)

In [57]:
df['order_date'] = df['order_date'].fillna(pd.Timestamp('2023-01-01'))

ensure the 'quantity' is integer

In [58]:
df['quantity'] = df['quantity'].astype(int)

ensure 'price' is float

In [59]:
df['price'] = df['price'].astype(float)

// Remove duplicates

remove on all rows based on all column

In [60]:
df=df.drop_duplicates()

Remove duplicates based on 'order_id' (keep first occurrence)

In [61]:
df=df.drop_duplicates(subset=['order_id'], keep='first')

Standardize 'customer_name' to title case

In [62]:
df['customer_name'] = df['customer_name'].str.title()

Validate and clean 'customer_email' (basic check for '@' symbol)

In [63]:
df['customer_email'] = df['customer_email'].apply(lambda x: x if '@' in x else 'invalid_email@example.com')

Display the clean datasets

In [64]:
print("\nCleaned Datasets:")
print(df)

Cleaned Datasets:
   order_id customer_name product_name order_date  quantity   price  \
0      1001      John Doe       Laptop 2023-10-01         1  999.99
1      1002    Jane Smith        Phone 2023-10-02         2  599.99
2      1003       Unknown       Tablet 2023-10-03         2  299.99
3      1004   Alice Brown   Headphones 2023-01-01         3  299.99
5      1005    Bob Wilson        Mouse 2023-10-05         0   19.99
6      1006    Emma Davis     Keyboard 2023-10-06         2   79.99
7      1007       Unknown       Laptop 2023-10-07         1  999.99

            customer_email
0         john@example.com
1   jane.smith@example.com
2                   alice@
3  alice.brown@example.com
5     no_email@example.com
6   emma.davis@example.com
7         john@example.com

Save the Cleaned datasets

In [65]:
df.to_csv('ecommerce_data_cleaned.csv', index=False)
print("\nCleaned datasets saved as 'ecommerce_data_cleaned.csv'")

Cleaned datasets saved as 'ecommerce_data_cleaned.csv'